html, body {
        color: #000000;
        font-size: 11px;
        font-family: Courier New, Courier;
        text-align: left;
}


a {
	text-decoration: none;
	color: #000000;
        font-size: 11px;
        font-family: Courier New, Courier;
        text-align: left;
}


a:hover {
	text-decoration: none;
	color: #0000FF;
        font-size: 11px;
        font-family: Courier New, Courier;
        text-align: left;
}

tr.tr0 {
	background: white;
}

tr.tr1 {
	background: silver;
}

td {
        font-size: 11px;
        color: #000000;
        font-family: Courier New, Courier;
}

input {
        font-size: 11px;
        color: #000000;
        font-family: Courier New, Courier;
        text-align: left;
}

fieldset {
	padding: 5px 5px 5px 5px;
}

select {
        font-size: 11px;
        color: #000000;
        font-family: Courier New, Courier;
}

select.havenothave {
        font-size: 14px;
        color: #000000;
        font-family: Serif;
}

option.have {
        color: #000000;
}

option.nothave {
        color: #000000;
}
